body{
    margin: auto;
    width: 900px;
    height: 550px;
    border-style: solid;
    border: 5px solid black;
    margin-top: 50px; 


}
h1{
    margin: center;
    border-style: solid;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;

}
p{
    margin: center;
    border-style: solid;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
    line-height: -20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
height: 100px;
padding-top: 50px;
color: azure;

}
ul{
    margin: auto;
    height: 150px;
    width:auto;
    border-style: solid;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    color: azure;

    

}
li{
    margin: center;
    border-style: solid;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
strong{
    margin: center;
    border-style: solid;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    color: azure;


}
a{
    margin: center;
    border-style: solid;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    color: azure;

   
}
.p1{
  margin-left :30px;
  margin-top: 60px;
  padding-top: 50px;
  color: azure;

 
}
.button{
  width: 100px;
  height: 30px;
  color:bisque;
  background-color:rgb(68, 64, 64);
  border: 2px;
  border-style: inset;
}